<a href="https://colab.research.google.com/github/Bharath9819/Python00/blob/main/datatype_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello man")

hello man

In [ ]:
#cnrl + enter to run code  # shift + enter to run and create new line for coding
#alt + enter create new line with excutuion previous line

In [ ]:
print("hello" + " python")  #concatenation

hello python

In [ ]:
print(9+1)   #addttion

10

In [ ]:
print("9+1") #string

9+1

In [ ]:
print("9"+"10")

910

In [ ]:
print(9, "10" + "rupress" , "world" ,3*8)

9 10rupress world 24

In [ ]:
print("A"*5)

AAAAA

In [ ]:
print(5 + "A")    #can't able to excute diff datatypes

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
print(5 *"B")

BBBBB

In [2]:
   str1= "Hello"
   str2= "World"
   print(str1 + str2);

HelloWorld

In [4]:
var1=100
print(var1)

100

In [5]:
_var1="n0thing"
print(_var1)

n0thing

when assigning variable its shld start with _ or aplhabet

In [6]:
*ajhvai="no"
print(*ajhvai)

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-6-94bc8824c404>, line 1)

In [7]:
2were=100
print(2were)

SyntaxError: invalid decimal literal (<ipython-input-7-559f3fc7a874>, line 1)

In [9]:
#type and converation:
va1="1234"
print(type(va1))

<class 'str'>

In [10]:
#type and converation:
va1="1234"
print(type(int(va1)))

<class 'int'>

we can't able to change stg to int , if its not in th value.

In [11]:
#type and converation:
va1="nothing"
print(type(int(va1)))

ValueError: invalid literal for int() with base 10: 'nothing'

In [13]:
#type and converation:
va1="1234N"
print(type(int(va1)))

ValueError: invalid literal for int() with base 10: '1234N'

except 0,"" and none , if any value passed in bool it becomes true

In [15]:
#type and converation & bool:
va1="1234"
print(bool(va1))

True

In [17]:
#type and converation & bool:
va1="nope"
print(bool(va1))

True

In [18]:
#type and converation & bool:
va1=None
print(bool(va1))

False

In [19]:
#type and converation & bool:
va1=None
print(type(bool(va1)))

<class 'bool'>

In [21]:

#type and converation & bool:va1=None
print(bool(None))

False

In [23]:
var10=12
var11=13
print(id(var10))
print(id(var11))

133384565359184
133384565359216

In [24]:
var10=12
var11=12
print(id(var10))
print(id(var11))

133384565359184
133384565359184

In [25]:
var10=1200
var11=1200
print(id(var10))
print(id(var11))

133383283551952
133383283553680

In [27]:
var10=255
var11=257
print(id(var10))
print(id(var11))

133384565366960
133383283551824

input taking value from users:

In [28]:
name=input()

bharath

In [29]:
print(name)

bharath

In [30]:
input(please enter age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-30-c88934381c07>, line 1)

In [31]:
age=input(please enter age)
print(age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-31-325988b7770f>, line 1)

In [32]:
age=input(please enter age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-32-e4881aae746b>, line 1)

In [33]:
age=input("please enter age")

please enter age25

In [34]:
print(age)

25

In [35]:
age=input("please enter age")
print("my age is "age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-35-11957b9d31e1>, line 2)

In [36]:
age=input("please enter age")
print(age)

please enter age25
25

In [37]:
age=input("please enter age ")
print(age)

please enter age 27
27

concatenation is main to join to strings or print the statement

In [38]:
age=input("please enter age ")
print("my age is "+ age)

please enter age 25
my age is 25