<a href="https://colab.research.google.com/github/Bharath9819/Python00/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pattern Problems

In [ ]:
for i in range(int(input())):
       for j in range (i+1):
            print("*",end=" ")
       print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(int(input())):
       for j in range (i+1):
            print((i,j),end=" ")
       print()

5
(0, 0)
(1, 0) (1, 1)
(2, 0) (2, 1) (2, 2)
(3, 0) (3, 1) (3, 2) (3, 3)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4)

In [ ]:
n=int(input())
for i in range(n):
       for j in range (n-i):
            print("*",end=" ")
       print()

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input())
for i in range(n):
       for j in range (n-i-1):
            print(" ",end="")
       for j in range (i+1):
           print("*",end ="")
       print()

5
    *
   **
  ***
 ****
*****

simple with replace the code with above step:

In [ ]:
n=int(input())
for i in range(n):
      print(" "*(n-i-1),end="")
      print("*"*(i+1),end ="")
      print()

5
    *
   **
  ***
 ****
*****

simplify into small : takes same memory , but ur team appreciate you.

In [ ]:
n=int(input())
for i in range(n):
      print(" "*(n-i-1)+ "*"*(i+1),end="\n")

8
       *
      **
     ***
    ****
   *****
  ******
 *******
********

In [ ]:

N = int(input())
for i in range(N): # outer loop for each and every row
    for j in range(1, i+2):
        if j%2==0:
            print(j, end="")
        else:
            print('*', end='')
    print()

5
*
*2
*2*
*2*4
*2*4*